@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- 
    The index page is the default page inside any route. If we have an Index.cshtml inside Pages/Books directory,
    Then, the index page will be rendered if we access "yourdomain/books" or "yourdomain/books/index"
-->


<div class="text-center">
    <h1 class="display-4">Welcome People!!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
