doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='author' content='AdmiJW')
        meta(name='description' content='PassportJS Local Strategy using Sessions')
        meta(name='keywords' content='expressjs passportjs')

        title Sessions Example

        //- Tailwind CSS from CDN. (2.0MB, may slow down page load)
        link(rel='stylesheet' type='text/css' href='https://unpkg.com/tailwindcss@2.2.15/dist/tailwind.min.css')

        block customStylesAndScripts
    body
        main.content.container.mx-auto.max-w-screen-lg
            block body

