
<!-- Footer of the web page -->

<footer class="bg-dark footer text-muted">
    <div class="container">
        &copy; 2022 - BulkyBookLibrary - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>