<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src='/public/scripts/index.js' defer></script>
</head>
<body>
    <form action='/price' id='form'>
        <input type='text' name='query' id='fruit-query' required/>
        <button type='submit'>Search Price</button>
    </form>

    <div id='responsetext'></div>
</body>
</html>