@using Microsoft.AspNetCore.Identity

@model IdentityUser
@{
    ViewData["Title"] = "Home Page";
}
 

<main class='container center-container p-3'>
    <h3 class='text-center fw-bold'>Welcome</h3>
    <p class='lead text-center fs-2'>@Model.Email</p>
    <p class='my-4 fs-6 text-muted fw-lighter'>Uid: @Model.Id</p>

    <div class='m-4 text-center'>
        <a asp-action='LogOut' class='btn btn-primary'>Log out</a>
    </div>
</main>